html, body{
	font-family: sans-serif;
	height: 100%;
	width: 100%;
	margin: 0;
	color: #222222;
}

.shape{
	width:80%;
	margin: 0 auto;
}

#logo{
	overflow: hidden;
	background-color: #3465A7;
	display: flex;
}

#logo div{
	margin: auto;
}

#logo > *{
	width: 50%;
	float: left;
}

#title{
	color: white;
	font-size: 20pt;
    padding: 15px;
}

#container{
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 20px;
}

#content{
	padding: 35px;
	width:60%;
	margin: 0 auto;
}

#header{
	background-color: #3465A7;
}
#menu{
	display: flex;
	justify-content: space-between;
}
.menubtn{
	width: 100%;
	text-align: center;
	text-decoration: none;
	color: inherit;
	padding: 10px;
	cursor: pointer;
	margin:0;
	font-weight:normal;
	
	color: white;
	background-color: #3465A7;
}

.menubtn.current{
	color: inherit;
	background-color: white;
}

.menubtn:hover { 
	color: inherit;
	background-color: white;
}

#footer{
	text-align: center;
	height: 30px;
	margin-top: -30px;
	color: white;
	background-color: #3465A7;
	line-height: 30px;
}

.itemheader{
	font-weight: normal;
}